:root {
	--bg: #101018;
	--siro: #fff0e0;
	--aka: #e85060;
	--darkaka: #c83848;
	--pink: #ff90e8;
	--darkpink: #ff6080;
	--sora: #80d8ff;
	--ao: #6070ff;
	--darkao: #4050e0;
	--midori: #18e880;
	--green: #10b484;
	--darkgreen: #089050;
	--ki: #ffdd40;
	--purple: #9060c0;
	--darkpurple:#602888;
	--cyan: #a0f8ff;
    --tan: #e8a878;
	--grey: #7a7090;
    --kuro: #383448;
	--darkkuro: #282438;
	--makkuro: #141420;
	--cream: #ffd8b0;
	--maxw: 1280px;
	--minw: 512px;
}

body {
	background-color: var(--bg);
	font-family: "Mona","MS Gothic", sans-serif;
	font-size: 16px;
	color: var(--siro);
	line-height:1.5em;
	overflow-x:hidden;
}
img {
	max-width:100%;
}

a {
	color: var(--ki);
	text-decoration: underline dotted;
}
a:hover {
	text-decoration: underline solid;
	background-color: rgba(255,240,224,0.25);
}
a[role="button"] {
	cursor:default;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}

p {
	margin: 0 0 0.5em 0;
}

rt {
	font-family: "Mona","MS PGothic",sans-serif;
	font-size:12px;
	line-height: 0;
}

h1 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--ki);
	margin:8px 0;
}

h2 {
	font-family: "MS Gothic", sans-serif;
    font-size:22px;
    font-weight: bold;
    color:var(--purple);
	margin:8px 0 16px 0;
}

h3 {
    font-size:16px;
    font-weight:bold;
    color:var(--siro);
	text-align:center;
	position:relative;
	padding:0 4px;
	margin:0;
	scroll-margin-top: 144px;
	text-decoration: underline dotted;
}
h3>a {
	color: var(--siro);
}

#head {
	position: fixed;
	top:0;
	left:0;
	z-index: 24;
	width:100%;
	background-color:var(--bg);
	text-align: center;
	padding-bottom: 8px;
	border-bottom: 1px dotted var(--ki);
}
#headspace,
#footspace {
	margin-bottom:144px;
}

.kyaratabs {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	margin-bottom: 8px;
}
.kyaratabs>a {
	margin: 0 8px;
}
.nav {
	width: max-content;
	margin: -4px auto 0;
	padding: 4px;
	position: relative;
}
.nav span {
	margin: 2px 16px;
}
.ntop a {
	color: var(--purple);
}

.post_body {
    width:85%;
    max-width:var(--maxw);
    min-width:var(--minw);
    margin:8px auto;
}

.chat,
.chatS {
	color:var(--siro);
	position: relative;
	overflow: hidden;
	padding: 20px 0;
	top: 0;
	transition: max-height 0.5s ease-out, padding-top 0.5s ease-out, padding-bottom 0.5s ease-out, top 0.5s ease-out;
}
.chatS {
	font-size:14px;
}

.chatbody {
	background-color:var(--darkkuro);
	padding: 12px 32px 8px;
}

table {
	width:100%;
	padding:0px 8px;
	table-layout:fixed;	
}
irai-rei {
	
}

.hide {
	max-height: 16px !important;
	padding-top: 0px;
	padding-bottom: 0px;
	top: -16px;
}


/*
	text formatting
*/
t-r,
.t-r {
	color:var(--aka);
	fill:var(--aka);
}
t-r2,
.t-r2 {
	color:var(--darkaka);
	fill:var(--darkaka);
}
t-g,
.t-g {
	color:var(--midori);
	fill:var(--midori);
}
t-g2,
.t-g2 {
	color:var(--green);
	fill:var(--green);
}
t-g3,
.t-g3 {
	color:var(--darkgreen);
	fill:var(--darkgreen);
}
t-sb,
.t-sb {
	color:var(--sora);
	fill:var(--sora);
}
t-b,
.t-b {
	color:var(--ao);
	fill:var(--ao);
}
t-b2,
.t-b2 {
	color:var(--darkao);
	fill:var(--darkao);
}
t-y,
.t-y {
	color:var(--ki);
	fill:var(--ki);
}
t-p,
.t-p {
	color:var(--purple);
	fill:var(--purple);
}
t-p2,
.t-p2 {
	color:var(--darkpurple);
	fill:var(--darkpurple);
}
t-w,
.t-w {
	color:var(--siro);
	fill:var(--siro);
}
t-cr,
.t-cr {
	color:var(--cream);
	fill:var(--cream);
}
t-k,
.t-k {
	color:var(--kuro);
	fill:var(--kuro);
}
t-k2,
.t-k2 {
	color:var(--darkkuro);
	fill:var(--darkkuro);
}
t-mk,
.t-mk {
	color:var(--makkuro);
	fill:var(--makkuro);
}
t-pi,
.t-pi {
	color:var(--pink);
	fill:var(--pink);
}
t-pi2,
.t-pi2 {
	color:var(--darkpink);
	fill:var(--darkpink);
}
t-cy,
.t-cy {
	color:var(--cyan);
	fill:var(--cyan);
}
t-gr,
.t-gr {
	color:var(--grey);
	fill:var(--grey);
}

/*
	triangles lol
*/
.tri {
	position:absolute;
}
.left {
	left:0px;
}
.right {
	right:0px;
}
.top {
	top:0px;
}
.btm {
	bottom:0px;
}