<!--page elements-->
{% capture triL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triL" alt="">
		<path d="M0 0H20V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture triR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="triR" alt="">
		<path d="M20 0H0V20z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture cornerR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="cornerR" alt="">
		<path d="M0 12H12V0z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture topR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="topR" alt="">
		<path d="M0 0H12V12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture topL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="topL" alt="">
		<path d="M0 12V0H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}

{% capture nestcornerR %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="cornerR nest" alt="">
		<path d="M0 12H12V0z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}
{% capture nesttopL %}
	<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="topL nest" alt="">
		<path d="M0 12V0H12z" fill-rule="evenodd" shape-rendering="crispEdges"/>
	</svg>
{% endcapture %}